<div id="body">
  <div id="gauchehaut"></div>
  <div id="droitebas">
    <div id="centrer">
      <div id="titre-phrase">
        <h2>Bienvenu au Hub de la geeekerie</h2>
        <span>Tu te connectes ici gogolito</span>
      </div>
      <div id="lesinputs">
        <div id="email-div">
          <label>Email</label><br />
          <input placeholder="email@email.fr" type="text" />
        </div>
        <div id="mdp-div">
          <label>Mot de passe</label><br />
          <input placeholder="password@123" type="text" />
        </div>
      </div>
      <div id="checkbox">
        <input type="checkbox" id="checker" />
        <label>Se souvenir des identifiants</label>
      </div>
      <div id="width-signup">
        <button>Sign-Up</button>
      </div>
    </div>
  </div>
</div>
